@import '../../shared/styles/styles.scss';

@mixin changingColors {
  &:nth-child(3n+2) {
    background-color: var(--background-green-pale);
  }

  &:nth-child(3n) {
    background-color: var(--background-blue-pale);
  }

  &:nth-child(3n+1) {
    background-color: var(--background-red-pale);
  }
}

@mixin sceleton-wave() {
  background: linear-gradient(90deg, #cbb28a, #635023);
  background-size: 400% 400%;
  animation: wave 1s ease infinite;
}