body {
  --background-light: rgb(246, 238, 207);
  --background-light-darker: rgb(223, 214, 184);
  --background-grey: rgb(125, 120, 104);
  --background-grey-lighter: rgb(166, 159, 137);
  --background-green: rgb(33, 71, 9);
  --background-green-lighter: rgb(47, 101, 13);
  --button-green: rgb(47, 101, 13);
  --button-green-lighter: rgb(66, 140, 20);
  --background-dark: rgb(56, 33, 4);
  --background-dark-lighter: rgb(56, 39, 18);

  --background-red: rgb(89, 0, 0);
  --background-red-light: rgb(197, 138, 138);
  --background-blue: rgb(0, 37, 89);
  --background-red-pale: rgb(253, 227, 227);
  --background-blue-pale: rgb(207, 216, 228);
  --background-green-pale: rgb(208, 230, 218);
  --background-red-pale-transparent: rgba(253, 227, 227, 0);
  --background-blue-pale-transparent: rgba(207, 216, 228, 0);
  --background-green-pale-transparent: rgba(208, 230, 218, 0);

  --font-light: rgb(246, 238, 207);
  --font-light-darker: rgb(223, 214, 184);
  --font-dark: rgb(56, 33, 4);
  --font-dark-lighter: rgb(79, 55, 25);
  --font-blue: rgb(0, 57, 136);
  --font-green: rgb(47, 101, 13);
  --font-red: rgb(89, 0, 0);
  --font-red-light: rgb(197, 138, 138);
  --font-grey: rgb(125, 120, 104);
  --font-dark: rgb(56, 33, 4);

  --breakpoint-s: 576px;
  --breakpoint-m: 768px;
  --breakpoint-l: 992px;
  --breakpoint-xl: 1200px;
}

$breakpoint-xs: 414px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;