@import '../../../../app/styles/mixins.scss';

@mixin user-card-shape {
  height: 70px;
  width: 100%;
  border-radius: 10px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.user-card {
  @include user-card-shape();
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--background-light-darker);

  h4.login {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .actions {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.user-card-sceleton {
  @include user-card-shape();
  @include sceleton-wave();
}