.texts-page {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;

  .left-content {
    width: 200px;
    flex-shrink: 0;
  }

  .main-content {
    flex-grow: 3;
    max-width: 950px;
  }

  .right-content {
    width: 200px;
    flex-shrink: 0;
  }
}