.user-avatar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .avatar {

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      overflow: hidden;
      border-radius: 10px;
    }
  
    .change-avatar-button {
      margin-top: 5px;
      width: 100%;
    }
  }

  .info {

    .info-line {
      display: flex;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: 5px;
      }

      .left {
        color: var(--font-grey);
      }
    }
  }

  @media (max-width: 768px) {
    min-width: 300px;
    flex-direction: row;
    
    .avatar {
      flex: 1;
      max-width: 300px;
    }

    .info {
      flex: 1;
    }
  }
}

.update-avatar-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-light);

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
  }

  label {

    span.load-span {
      display: block;
      text-align: center;
      width: 150px;
      margin-top: 5px;
      padding: 10px;
      font-size: 1rem;
      border-radius: 10px;
      color: var(--font-light);
      background-color: var(--background-dark);
      cursor: pointer;
    
      &:hover {
        background-color: var(--background-light-darker);
      }
    
      &:active {
        background-color: var(--background-dark);
      }
    }
  }

  button.submit-avatar-button {
    width: 150px;
    margin-top: 10px;
  }
}