.header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px;
  width: 100%;
  padding: 10px 50px;
  background-color: var(--background-green);
  color: var(--font-light);
  justify-content: space-between;

  @media (max-width: 1200px) {
    padding: 10px 10px
  }

  // @media (max-width: 768px) {
    //   justify-content: space-between;
  // }

  .left {
    display: flex;
    gap: 10px;
    align-items: center;

    .app-name {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    .show-menu-button {
      
      @media (min-width: 900px) {
        display: none; 
      }
    }
  }

  .main-links {
    // flex-grow: 3;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 900px) {
      display: none;
    }

    a {
      font-size: 1.2rem;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .user-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--background-green);
    cursor: pointer;

    &:hover {
      background-color: var(--background-green-lighter);
    }

    img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 50em;
    }
  }
}