.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 70px;
  width: 100%;
  padding: 0 30px;
  background-color: var(--background-green);
  color: var(--font-light);

  .left {

  }

  .main-links {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  h3 {
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }
  }
}