.load-error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.empty-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}