@import '../../../../../shared/styles/mixins.scss';

.editing-text-box {
  margin-top: 10px;
  border-radius: 10px;

  >.box {
    border-radius: 10px;
    overflow: hidden;
  
    // .editor {
    //   background-color: rgb(163, 193, 162);
      
    //   .box {
    //     display: flex;
    //     min-height: 100px;

    //     @media (max-width: 1000px) {
    //       flex-direction: column;
    //     }
  
    //     .left, .right {
    //       width: 50%;

    //       @media (max-width: 1000px) {
    //         width: 100%;
    //       }
    
    //       textarea {
    //         height: 100%;
    //         width: 100%;
    //         background-color: inherit;
    //       }
    //     }
      
    //     .left {
    //       background-color: var(--background-grey);
    //     }
      
    //     .right {
    //       background-color: var(--background-light-darker);
    //     }
    //   }

    //   >.buttons-panel {
    //     display: flex;
    //     align-items: center;
    //     justify-content: flex-end;
    //     gap: 10px;
    //     padding: 10px;
    //     // background-color: var(--background-dark);
    //   }
    // }
  }
  
  >.buttons-panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    button.prev, button.next {
      font-size: 2rem;
    }

    .pages {
      display: flex;
      align-items: center;
      gap: 10px;
      
      button {
        font-size: 1.3rem;

        &.current {
          color: blue;
        }
      }
    }
  }

  .text-sceleton {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-light-darker);
    
    .block-sceleton {
      @include sceleton-wave();
      height: 70px;
      border-radius: 5px;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

}

.save-warning-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-light);
  color: var(--font-dark);
}