.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .layout-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    overflow: hidden;

    .main-footer {
      overflow: auto;

      main {
        position: relative;
        flex-grow: 3;
      }
    }

  }
}