.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .main-footer {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    overflow: auto;

    main {
      flex-grow: 3;
    }
  }
}