.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px;
  background: var(--background-light-darker);
  border-radius: 10px;

  .request-block {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}