.home-page {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;

  .left-content {
    width: 200px;
    flex-shrink: 0;
  }

  .main-content {
    width: 950px;
  }

  .right-content {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .home-page {
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .main-content {
      width: 100%;
    }

    .left-content, .right-content {
      width: 100%;
    }
  }
}