.words-page {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 0 10px;

  .left-content {
    width: 200px;
    flex-shrink: 0;
  }

  .right-content {
    width: 200px;
    flex-shrink: 0;
  }

  .main-content {
    max-width: 950px;
    width: 100%;
    justify-self: stretch;

    .just-cause {
      width: 100%;
      margin-top: 10px;
    }
  }
}

@media (max-width: 768px) {
  .words-page {

    .left-content, .right-content {
      display: none;
    }

    .main-content {
      width: 100%;
    }
  }
}