.text-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .chage-premiere-block {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      color: var(--font-grey);
    }
  }
}